<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" />
        <title>Http Video Streaming</title>
    </head>
    <body>
        <div class="video-container">
        <video id="videoPlayer" width="650" controls muted="muted" autoplay>
		<source src="/video/<%= videoName %>" type="video/mp4"/>

        </video>
        </div>
    </body>
</html>
